.mainScreenMainCont {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  z-index: 1;
}

.mainScreenCont {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  z-index: 1;
}

.mainScreenImg {
  width: 100%;
  height: 90%;
  z-index: 1;

  overflow: hidden;
}

.mainScreenTitle {
  margin-top: -30vh;
  margin-left: 7vw;
}


.mainScreenMiscCont {
  position: absolute;
  top: 50vh;
  left: 7vw;

  /* border: 1px solid white; */
  width: 40vw;
  height: 25vh;
}

.mainScreenName {
  margin-top: 3px;
  margin-left: 5px;
  font-size: 45px;
}

.mainScreenmCont {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;

  width: 100%;
  height: 100%;
}

.mainScreenmContLeft {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.mainScreenmContRight {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  margin-right: 25px;
}

.mainScreenmIcons {
  font-size: 40px;
  cursor: pointer;
}

.mainScreenmIconsSelected {
  color: #e40914;
}

.mainScreenmIconsFavourite {
  color: lightseagreen
}

.mainScreenDiscCont {
  width: 70vw;
  height: 20vh;

  /* border: 1px solid red; */

  position: absolute;
  /* margin-left: 3vw; */
  margin-top: -18vh;
}

.mainScreenDisc {
  font-size: 30px;
  font-weight: 600;
  /* color: #e40914; */
}