.srrMainCont {
  width: 99vw;
  height: 100vh;


  margin-top: 12vh;
  margin-left: 3vw;
}

.srrFlexCont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.srrCont {
  width: 98%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 22vw);
  column-gap: 2vw;
  row-gap: 30vh;
}

.srrItem {
  margin-top: 10vh;
  width: 20vw;
  overflow: hidden;
  object-fit: contain;
  /* height: 10vh; */
}